DEFAULT_DOMAIN: 'your-domain.com'

S3_KEY_ID: YOUR_SECRET_KEY_ID
S3_SECRET_KEY: YOUR_SECRET_KEY
S3_BUCKET_REGION: YOUR_AMAZON_BUCKET_REGION
S3_BUCKET: YOU_BUCKET_NAME

MONGOID_HOST: YOUR_HOSTNAME.com
MONGOID_PORT: "YOUR_PORT_NUMBER"
MONGOID_USERNAME: YOUR_USERNAME
MONGOID_PASSWORD: "YOUR_PASSWORD"
MONGOID_DATABASE: YOUR_DATABASE_NAME